<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CUBRIC</title>
<link rel="stylesheet" href="/css/home.css">
<script src="/js/ajax/popper.min.js"></script>
</head>

<body class="text-center">
<nav th:replace="~{new_templates/fragments/base.html :: nav}"></nav>
<div th:replace="~{new_templates/fragments/base.html :: bootstrap-core-jquery}"></div>
<div id="splash-holder">
  <img id="brain-equations" class="img-fluid" src="/images/site_decor/brains/colourful_brain_equations.svg">
</div>
</body>
</html>
