<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thank You!</title>
</head>
<body>
<nav th:replace="~{fragments/base.html :: nav-header}">
</nav>
<div th:replace="~{fragments/base.html :: common-dependencies}"></div>
<link href="/css/app.css" rel="stylesheet">
<script src="/js/swipe.js"></script>
<div class="site-wrapper">
    <div class="site-wrapper-inner ">
        <div class="cover-container">
<main id="main-content" class="container-fluid">
    <div class="row align-items-center justify-content-center ourForm pinky-shadow">
        <h4> Thank you for your feedback, we hope you continue to enjoy using our service!</h4>
    </div>
</main>
        </div>
        </div>
        </div>
</body>
</html>