<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="./images/icons/artificial-intelligence.svg">

  <title>CUBRIC</title>
  <!--  Y'all need these -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="./css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
  <img class="mb-4" src="./images/icons/artificial-intelligence.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>
  <button class="btn btn-lg btn-warning btn-block"><a class="text-white" href="/registration">Sign Up</a></button>
  <button class="btn btn-lg btn-danger btn-block"><a class="text-white" href="/login/google">Sign in with Google</a></button>
</form>
</body>
</html>
